.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

input{
    border-radius: 10px;
    outline: none;
    padding: 0 5px;
}

.login{
    width: 200px;
    height: 150px;
    margin: auto;
    background: cyan;
    padding: 15px;
    border-radius: 10px;
}

input[src="img/logout.png"],
.imgBasket,
.imgSearch{
    max-height: 20px;
    cursor:pointer;
}

.login label,
.login input{
    display: table;
    margin: 5px auto;
}

.menu{
    position: fixed;
    top: 0;
    background: burlywood;
    left: 0;
    right: 0;
    padding: 10px;
    height: 20px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.cabinet div,
.cabinet form,
.basket form,
.basket .countProducts{
    float: right;
    margin: 0 5px;
}

.countProducts{
    width: 12px;
    border-radius: 100%;
    font-size: 9px;
    vertical-align: super;
    font-weight: bold;
    text-align: center;
    padding: 1px;
}

.content{
    margin-top: 50px;
}

.infoblock div,
.category div{
    display: table;
    margin: 0 auto;
}

.category{
    margin: 10px auto;
    background: rgb(0, 255, 128);
    padding: 5px;
    position: sticky;
    top: 40px;
    z-index: 3;
    border-radius: 10px;
}
.products{
    padding: 20px;
    background:rgb(204, 204, 204);
    display: flex;
    flex-flow: wrap;
    border-radius: 10px;
}
.product:hover{
    cursor: pointer;
}

.product{
    width: 200px;
    background: white;
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.logo{
    text-align: center;
}

.infoProduct{
    display: flex;
    flex-grow: 1;
    align-items: center;
    display: none;
}

.characteristics,
.price{
    flex-grow: 1;
    padding-left: 30px;
}

.addToBasket,
.removeFromBasket{
    display: none;
    max-height: 40px;
    margin-right: 20px;
    cursor:pointer;
    z-index: 5;
}


.infoblock{
    position: absolute;
    background: burlywood;
    left: 0;
    right: 0;
    margin-top: 3px;
    padding: 1%;
}

.popupMenu{
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
    position:fixed;
    top:0px;
    z-index: 2000;
}
.popupMenu .popupContent{
    margin: 5% auto;
    width: 80%;
    padding:10px;
    background-color: #c5c5c5;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
}
.popupMenu .infoProduct{
    display: flex;
}

.poupBasketProducts{
    border: 1px solid gray;
    overflow: auto;
    max-height: 400px;
    background-color: rgb(230, 230, 230);
}
.popupClose a{
    margin-bottom: 5px;
    float: right;
}

/* .popupSearch .infoProduct{
    display: flex;
} */

.poupSearchProducts{
    border: 1px solid gray;
    overflow: auto;
    height: 400px;
}
