.menu{
    position: fixed;
    top: 1px;
    background: burlywood;
    left: 1px;
    right: 1px;
    box-sizing: border-box;
    /* z-index: 1090; */
    padding: 1%;
}

.login{
    box-sizing: border-box;
    width: 50%;
    float: left;
    /* position: relative; */
    /* z-index: 1; */
}

.search-basket{
    box-sizing: border-box;
    width: 50%;
    float: right;
    /* position: relative; */
    /* z-index: 1; */
}

.search{
    box-sizing: border-box;
    width: 10%;
    float: left;
    /* position: relative; */
    /* z-index: 1; */
}

.basket{
    box-sizing: border-box;
    width: 10%;
    float: right;
    /* position: relative; */
    /* z-index: 1; */
}

.products{
    padding: 10px;
    margin-top: 2%;
    background: blue;
    left: 1px;
    right: 1px;
    padding: 1%;
    display: flex;
    flex-flow: wrap;
    /* position: relative; */
    /* z-index: 1; */
}

.product{
    background: indigo;
    min-height: 30%;
    width: 15%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    left: 1px;
    right: 1px;
    padding: 1%;
    border-radius: 10px;
}

.infoblock{
    background: burlywood;
    left: 1px;
    right: 1px;
    /* margin-right: auto;
    margin-left: auto; */
    margin-top: 3px;
    padding: 1%;
}